{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

<div class="grid-row">
	<div class="column-two-thirds">

          <div class="panel panel-border-wide">
                  <a href="/admin/edit-intro" class="button">Edit Introduction</a>
          </div>

    {{#intro}}
		<h1 class="heading-xlarge">{{h1}}</h1>
        <p class="lede">{{description}}</p>
    {{/intro}}
        
        {{#isDev}}
        <div class="panel panel-border-wide">
            <a href="/admin/new-iteration" class="button">Create a new iteration</a>
        </div>
        {{/isDev}}

	{{>includes/subapp-list}}

	</div>

</div>

{{/main}}

{{/layout}}
