{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}
            
  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Address</h1>
          <p class="lede">
        <pre>11 View place,
Okayvile,
Glasgow,
G1 1TF</pre></p>
          
          <h2 class="heading-medium">
    Is this the address that your bank uses for your account?
  </h2>

<div class="form-group">
  <form>
    <fieldset class="inline">

      <legend class="visuallyhidden">Is this the address that your bank uses for your account?</legend>

      <label class="block-label" for="radio-inline-1">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        Yes
      </label>
      <label class="block-label" for="radio-inline-2">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        No
      </label>

    </fieldset>
  </form>
        </div>
        
        <input class="button" type="submit" value="Continue">
        
        
    </div>


  </div>


{{/main}}

{{/layout}}