{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}
            
  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Check your account details before you get a refund</h1>

          <table>
    <thead>
      <tr>
        <th colspan="3">Your details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td>{{accountName}}</td>
        <td></td>
      </tr>
      <tr>
        <td>Account number</td>
        <td>{{accountNumber}}</td>
        <td><a href="#">Change</a></td>
      </tr>
      <tr>
       <td>Sort code</td>
        <td>{{sortCode}}</td>
        <td><a href="#">Change</a></td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{address.add1}}<br>{{address.add2}}</td>
        <td><a href="#">Change</a></td>
      </tr>
    </tbody>
  </table>
        <h2 class="heading-large">Get your refund</h2>
        <p>By paying your refund into this account you are confirming that this    account belongs to you.</p>
        
        <input class="button" type="submit" value="Pay refund into this account">
        <a href="#">Cancel</a>
        
    </div>


  </div>


{{/main}}

{{/layout}}