{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}
            
  <div class="grid-row">

    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Confirmation</h1>

        <div class="govuk-box-highlight">
        <h2 class="bold-large">You have claimed your refund</h2>
        <p><pre>Allow 3 to 5 working days for the money to be paid into your 
        bank account.</pre></p>    
        </div>
    <a href="#">What did you think of our service?</a> (takes 30 seconds)

        
    </div>


  </div>


{{/main}}

{{/layout}}